/* make the customizations */
$white: #ffffff;

$theme-colors: (
    "light": #051309,
    "dark": #02281b,
    "primary": #2a4621,
    "secondary": #46516b,
    "info": #c46022,
    "success": #1a9914,
    "warning": #f4bf17,
    "danger": #eb0a4b,
);

$light: map-get($theme-colors, "light");
$dark: map-get($theme-colors, "dark");
$primary: map-get($theme-colors, "primary");
$secondary: map-get($theme-colors, "secondary");
$info: map-get($theme-colors, "info");
$success: map-get($theme-colors, "success");
$warning: map-get($theme-colors, "warning");
$danger: map-get($theme-colors, "danger");
$fontcolor: #afb0b9;

@import "bootstrap";
@import "../GlobalAppStyle.scss";