/* make the customizations */
$white: #ffffff;

$theme-colors: (
    "light": #a2afb8,
    "dark": #353878,
    "primary": #cc4d1c,
    "secondary": #ad9a95,
    "info": #fceddb,
    "success": #70c61b,
    "warning": #fecb8d,
    "danger": #fe1a6c,
);

$light: map-get($theme-colors, "light");
$dark: map-get($theme-colors, "dark");
$primary: map-get($theme-colors, "primary");
$secondary: map-get($theme-colors, "secondary");
$info: map-get($theme-colors, "info");
$success: map-get($theme-colors, "success");
$warning: map-get($theme-colors, "warning");
$danger: map-get($theme-colors, "danger");

@import "bootstrap";
@import "../GlobalAppStyle.scss";