/* make the customizations */
$white: #ffffff;

$theme-colors: (
    "light": #c96e6a,
    "dark": #20086b,
    "primary": #d31bc0,
    "secondary": #0445c8,
    "info": #0086dc,
    "success": #00a26a,
    "warning": #d8ce00,
    "danger": #e53600,
);

$light: map-get($theme-colors, "light");
$dark: map-get($theme-colors, "dark");
$primary: map-get($theme-colors, "primary");
$secondary: map-get($theme-colors, "secondary");
$info: map-get($theme-colors, "info");
$success: map-get($theme-colors, "success");
$warning: map-get($theme-colors, "warning");
$danger: map-get($theme-colors, "danger");
$fontcolor: #161618;

@import "bootstrap";
@import "../GlobalAppStyle.scss";