.Chatbox {
    .min-width-class {
        min-width: 20%;
    }

    .max-width-class {
        max-width: 80%;
    }

    button {
        border: none;
    }

    .card-max-height {
        min-height: 400px;
        max-height: 400px;
    }

    .custom-scroll-container {
        overflow-y: scroll;
    }

    .custom-text-area {
        box-shadow: none;
        border-color: #ced4da;
    }
}