.chatbox {
    button {
        border: none;
    }

    .card-max-height {
        min-height: 400px;
        max-height: 400px;
    }

    .custom-scroll-container {
        overflow-y: scroll;
    }

}