// $light: 
// $dark: 
// $primary: 
// $secondary: 
// $info: 
// $success: 
// $warning: 
// $danger: 

body {
    background-color: $light;
    color: $dark;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;

    .App {}
}